<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>[Gestion Publication] Récupération du mot de passe</title>
</head>
<body>
	<p>Mot de passe de l'utilisateur [% login %] réinitialisé</p>
	<p>Un mot de passe temporaire (utilisable seulement le [% dt_now %]) :</p>
	<p>[% temp_pass %]</p>
</body>
</html>