<h2>Gestionnaire de fichiers</h2>
<hr />
[% IF msgs != "" %]
    <p class="alert alert-info">[% msgs %]</p>
[% END %]
<h3>Liste des fichiers de la publication : 
	<a  href="[% uri_base %]/pub/show/[%publication.idbpp_publication %]" >[% publication.title %]</a>
</h3>
[% IF test_droit_user == "1" %]
<div>
	<form method="POST" action="[% uri_base %]/file/[%publication.idbpp_publication %]/upload"  enctype="multipart/form-data">
		<div class="input-group">
			<input type="file" class="form-control" name="file_to_add" id="file_to_add">
	  		<span class="input-group-btn">
	  			<button type="submit" class="btn btn-success">Ajouter le fichier</button>
	  		</span>
  		</div>
	</form>
</div>
[% END %]
<div>
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Fichier</th>
				<th>Poids</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		[% FOREACH fichier IN liste_fichier %]
		<tr>
			<td>[% fichier.remove('.+\/') %]</td>
			<td>[% poids_fichier.item(fichier).chunk(-3).join(',') %] octets</td>
			<td style="width:130px;">
				<div class="btn-group">
					<a  href="[% uri_base %]/file/[%publication.idbpp_publication %]/download/[% fichier.remove('.+\/') %]" class="btn btn-sm btn-info">
						<span title="Télécharger" class="glyphicon glyphicon-download"></span>
					</a>
					<a class="btn btn-sm btn-info noshow" style="display:none;" type-fichier="[% fichier.remove('.+\.') %]" targetname="[% fichier.remove('.+\/') %]" targetedhref="[% uri_base %]/file/[%publication.idbpp_publication %]/downloadpdf/[% fichier.remove('.+\/') %]">
						<span title="Visualiser" class="glyphicon glyphicon-eye-open"></span>
					</a>
					[% IF test_droit_user == "1" %]
					<a class="btn btn-sm btn-danger" href="[% uri_base %]/file/[%publication.idbpp_publication %]/delete/[% fichier.remove('.+\/') %]">
						<span title="Supprimer" class="glyphicon glyphicon-trash"></span>
					</a>
					[% END %]
				</div>
			</td>
		</tr>
		[% END %]
		</tbody>
	</table>
	<div id="PDFviewer" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				...
			</div>
	    </div>
	  </div>
	</div>
</div>
<script type="text/javascript">
	$('.noshow[type-fichier="pdf"]').show();
	$('.noshow[type-fichier="pdf"]').click(function(event) {
		var nomfichier = $(this).attr('targetname');
		var urlfichier = $(this).attr('targetedhref');
		$('#myModalLabel').text(nomfichier);
		$('.modal-body').html('<object data="'+urlfichier+'#toolbar=1&amp;view=Fit" type="application/pdf" width="850" height="700"><param name="width" value="850" /><param name="height" value="700" /><param name="view" value="Fit" />alt : <a href="'+urlfichier+'">'+nomfichier+'</a></object>');
		$('#PDFviewer').modal();
	});
</script>
