<h2>
  Suppression d'une publication
</h2>
<hr />
<div>
  <p>Êtes-vous sûr de vouloir supprimer la publication suivante :</p>
  <div>
    <table class="table table-hover table-striped">
      <tr><th>Titre : </th><td colspan="2">[% publication.title %]</td></tr>
      <tr><th>Subject : </th><td colspan="2">[% publication.subject %]</td></tr>
      <tr><th>Abstract : </th><td colspan="2">[% publication.abstract %]</td></tr>
    </table>
    <table class="table table-hover table-striped">
    <thead>
      <tr><th>Etats connus : </th><th>Commentaires</th><th>Date de début</th><th>Date estimée</th><th>Date réelle</th></tr>
    </thead>
    <tbody>   
      [% FOREACH statu = status %]
      [% USE datedeb = String(statu.beginning_date) %]
      [% USE dateestimate = String(statu.estimated_date) %]
      [% USE datefinal = String(statu.final_date) %]
      <tr><td>[% statu.type %]</td><td>[% statu.status_detail %]</td><td>[% datedeb.truncate(10) %]</td><td>[% dateestimate.truncate(10) %]</td><td>[% datefinal.truncate(10) %]</td></tr>
      [% END %]
    </tbody>
    </table>
  </div>
  <form action="[% uri_base %]/pub/remove/[%publication.idbpp_publication %]" method="post">
    <div class="form-group">
      <button type="submit" class="btn btn-danger btn-block">Supprimer la publication</button>
      <a class="btn btn-primary btn-block">Annuler</a>
    </div>
  </form>
</div>