        <h2>Visualisation des Publication</h2>
	        <hr />
	        [% IF msgs %]
	        <div class="alert alert-success">[% msgs %]</div>
	        [% END %]
	        <h3>Toutes les publications non supprimées (Administrateur)</h3>
	        <table class="table" id="table_pub_show">
		<thead>
			<tr>
				<th data-sort="string"><span class="glyphicon glyphicon-sort"></span>&nbsp;Titre</th>
				<th data-sort="string"><span class="glyphicon glyphicon-sort"></span>&nbsp;Auteur Principal</th>
				<th data-sort="string"><span class="glyphicon glyphicon-sort"></span>&nbsp;Revue</th>
				<th data-sort="int"><span class="glyphicon glyphicon-sort"></span>&nbsp;Etat actuel</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
	        [% FOREACH publication = publications %]
	        [% IF publication.is_deleted == "N" %]
			<tr pub="[% publication.idbpp_publication %]">
				<td>[% publication.title %]</td>
				<td>
				[% FOREACH users = publicationUsersManage %]
				[% IF users.rank == 1 && users.idbpp_publication.idbpp_publication==publication.idbpp_publication %]
				[% users.idbpp_user.surname %] [% users.idbpp_user.name %]
				[% END %]
				[% END %]
				</td>
				<td>[% publication.idbpp_journal.title %]</td>
				<td
					[% FOREACH statu IN status %]
						[% IF publication.idbpp_publication==statu.bpp_publication_idbpp_publication.idbpp_publication %]
						[% USE dateestimate = String(statu.estimated_date) %]
						data-sort-value="[% dateestimate.substr(0, 4) %][% dateestimate.substr(5, 2) %][% dateestimate.substr(8, 2) %]"
						[% END %]
					[% END %]
				>
				[% FOREACH statu = status %]
				[% IF statu.bpp_publication_idbpp_publication.idbpp_publication==publication.idbpp_publication && statu.status_actuel=="Y" %]
				[% USE dateestimate = String(statu.estimated_date) %]
				[% statu.type %] ([% dateestimate.truncate(10) %])<br />
				[% END %]
				[% END %]
				</td>
				<td style="width:210px;">
					<div class="btn-group">
						<a class="btn btn-sm btn-info" href="[% uri_base %]/pub/show/[% publication.idbpp_publication %]"><span title="Voir" class="glyphicon glyphicon-eye-open"></span></a>
						<a class="btn btn-sm btn-warning" href="[% uri_base %]/pub/edit/[% publication.idbpp_publication %]"><span title="Editer" class="glyphicon glyphicon-edit"></span></a>
						<a class="btn btn-sm btn-default" href="[% uri_base %]/file/[% publication.idbpp_publication %]"><span class="glyphicon glyphicon-folder-open" title="Gestionnaire de fichiers"></span></a>
						<a class="btn btn-sm btn-primary" href="[% uri_base %]/pub/duplicate/[%publication.idbpp_publication %]"><span title="Dupliquer">&times;2</span></a>
						<a class="btn btn-sm btn-danger" href="[% uri_base %]/pub/remove/[%publication.idbpp_publication %]"><span title="Supprimer" class="glyphicon glyphicon-trash"></span></a>
					</div>
				</td>
			</tr>
			[% END %]
			[% END %]
		</tbody>
	        </table>
	        <h3>Toutes les publications supprimées (Administrateur)</h3>
	        <table class="table" id="table_pub_show_suppr">
		<thead>
			<tr>
				<th data-sort="string"><span class="glyphicon glyphicon-sort"></span>&nbsp;Titre</th>
				<th data-sort="string"><span class="glyphicon glyphicon-sort"></span>&nbsp;Auteur Principal</th>
				<th data-sort="string"><span class="glyphicon glyphicon-sort"></span>&nbsp;Revue</th>
				<th data-sort="int"><span class="glyphicon glyphicon-sort"></span>&nbsp;Etat actuel</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
	        [%
	        FOREACH publication = publications
	        %]
	        [% IF publication.is_deleted == "Y" %]
			<tr pub="[% publication.idbpp_publication %]">
				<td>[% publication.title %]</td>
				<td>
				[% FOREACH users = publicationUsersManage %]
				[% IF users.rank == 1 && users.idbpp_publication.idbpp_publication==publication.idbpp_publication %]
				[% users.idbpp_user.surname %] [% users.idbpp_user.name %]
				[% END %]
				[% END %]	
				</td>
				<td>[% publication.idbpp_journal.title %]</td>
				<td
					[% FOREACH statu IN status %]
						[% IF publication.idbpp_publication==statu.bpp_publication_idbpp_publication.idbpp_publication %]
						[% USE dateestimate = String(statu.estimated_date) %]
						data-sort-value="[% dateestimate.substr(0, 4) %][% dateestimate.substr(5, 2) %][% dateestimate.substr(8, 2) %]"
						[% END %]
					[% END %]
				>
				[% FOREACH statu = status %]
				[% IF statu.bpp_publication_idbpp_publication.idbpp_publication==publication.idbpp_publication && statu.status_actuel=="Y" %]
				[% USE dateestimate = String(statu.estimated_date) %]
				[% statu.type %] ([% dateestimate.truncate(10) %])<br />
				[% END %]
				[% END %]
				</td>
				<td style="width:210px;">
					<div class="btn-group">
						<a class="btn btn-sm btn-info" href="[% uri_base %]/pub/show/[% publication.idbpp_publication %]"><span title="Voir" class="glyphicon glyphicon-eye-open"></span></a>
						<a class="btn btn-sm btn-warning" href="[% uri_base %]/pub/edit/[% publication.idbpp_publication %]"><span title="Editer" class="glyphicon glyphicon-edit"></span></a>
						<a class="btn btn-sm btn-default" href="[% uri_base %]/file/[% publication.idbpp_publication %]"><span class="glyphicon glyphicon-folder-open" title="Gestionnaire de fichiers"></span></a>
						<a class="btn btn-sm btn-primary" href="[% uri_base %]/pub/duplicate/[%publication.idbpp_publication %]"><span title="Dupliquer">&times;2</span></a>
						<a class="btn btn-sm btn-success" href="[% uri_base %]/pub/recover/[%publication.idbpp_publication %]"><span title="Récupérer" class="glyphicon glyphicon-refresh"></span></a>
					</div>

				</td>
			</tr>
			[% END %]
			[% END %]
		</tbody>
	</table>
	<script type="text/javascript">
    	$("#table_pub_show").stupidtable();
    	$("#table_pub_show_suppr").stupidtable();
    </script>
