[% FOREACH revue = revues %]
<h1>Modifier la revue</h1>
<form action="[% uri_base %]/revues/edit/[% revue.idbpp_journal %]" method="post">
    <div class="form-group">
        <label for="revue_titre">Titre : </label>
        <input type="text" class="form-control" name="revue_titre" id="revue_titre" value="[% revue.title %]" /> 
    </div>

    <div class="form-group">
        <label for="revue_theme">Theme :</label>
        <input name="revue_theme" id="revue_theme" type="text" class="form-control" value="[% revue.subject %]" /> 
    </div>

    <div class="form-group">
        <label for="revue_template">Lien vers le template</label>
        <input name="revue_template" id="revue_template" type="text" class="form-control" value="[% revue.template_link %]" /> 
    </div>

    <div class="form-group">
        <label for="revue_IF">Impact Factor</label>
        <input name="revue_IF" id="revue_IF" type="text" class="form-control" value="[% revue.impact_factor %]" /> 
    </div>

    <div class="form-group">
        <label for="revue_keyword">Mots-Clés :</label>
        <select class="form-control chosen-select" name="revue_keyword" id="revue_keyword" multiple>
          [% FOREACH keyword IN keywords %]
           <option value="[% keyword.idbpp_keyword %]"
          [% FOREACH journalKeyword IN journalKeywords %]
          [% IF journalKeyword.idbpp_keyword.idbpp_keyword==keyword.idbpp_keyword %] selected="selected" [% END %][% END %]>[% keyword.word %]</option>
          [% END %]
        </select> 
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Enregistrer les modifications</button>
    </div>
</form>
[%END%]
<script>
  $("#revue_keyword").chosen({no_results_text: 'Pas de résultats pour ce mot-clé ! <a class="addkw btn btn-xs btn-info">Ajouter le mot clé</a>'});

  $("form").on("click", ".addkw", function() {
    var motcle = $('#revue_keyword_chosen .no-results span').text();

    $('.addkw').text("Ajout en cours");

    $.ajax({
      url: $('body').attr('url-site') + "/keyword/addJS",
      type: 'POST',
      data: {addmotcle: motcle},
    })
    .done(function(msg) {
      if (msg != "-1")
      {
        $('.addkw').text("Mot clé ajouté");
        $('#revue_keyword').append('<option value="'+msg+'">'+motcle+'</option>');
        $("#revue_keyword").trigger("chosen:updated");
        motcle = "";
      }
      else
      {
        $('.addkw').text("Erreur d'ajout");
      }
    })
    .fail(function() {
      $('.addkw').text("Erreur d'ajout");
    })
  });
</script>