<h2>
  [% IF type == "ajout" %]
  Ajout d'un utilisateur
  [% ELSE %]
  Modification d'un utilisateur
  [% END %]
</h2>
<hr />
<form name="modification" method="POST" action="[% uri_base %]/user/[% IF type == "modif" %]edit/[% user.idbpp_user %][% ELSE %]add[% END %]">

    <div class="form-group">
        <label>Login :</label>
        <input class="form-control" type="text" name="login" id="[% user.login %]" value="[% user.login %]" [% IF type == "modif" %]readonly[% END %]/>
    </div> 
    [% IF type == "modif" %]
    <div class="form-group">
        <a href="#" class="showpassword" style="display:none;">Changer le mot de passe></a>
    </div>
    [% END %]
    <div class="form-group passwordhidden">
        <label>Nouveau mot de passe :</label>
        <input class="form-control" type="password" name="password1" id="password1" value=""/>
    </div>

    <div class="form-group passwordhidden">
        <label>Nouveau mot de passe (confirmation) :</label>
        <input class="form-control" type="password" name="password2" id="password2" value=""/>
    </div>  

    <div class="form-group">
        <label>Nom :</label>
        <input class="form-control" type="text" name="nom" id="nom" value="[% user.name %]"/>
    </div>  

    <div class="form-group">
        <label>Prénom :</label>
        <input class="form-control" type="text" name="prenom" id="prenom" value="[% user.surname %]"/>
    </div> 

    <div class="form-group">
        <label>Email :</label> 
        <input class="form-control" type="text" name="email" id="email" value="[% user.email %]"/>
    </div>
    [% IF is_admin == 1 %]
    <div class="form-group">
        <label>Droits :</label>
        <select class="form-control" name="modif_droit" id="modif_droit">
            [%
             FOREACH right IN rights
            %]
            <option value="[% right.idbpp_usertype %]" [% IF user.bpp_usertype_idbpp_usertype.nom == right.idbpp_usertype %]selected[% END %]>[% right.nom %]</option>
            [% END %]
        </select>
    </div>
    [% END %]
    <div class="form-group">
        <label>Position :</label>
        <input class="form-control" type="text" name="modif_role" id="modif_role" value="[% user.position %]"/>
    </div>

    <div class="form-group">
        <label>Epi :</label>
        <input class="form-control" type="text" name="modif_epi" id="modif_epi" value="[% user.epi %]"/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">[% IF type == "ajout" %]Ajout[% ELSE %]Modification[% END %] de l'utilisateur</button>
    </div>
</form>
[% IF type == "modif" %]
<script type="text/javascript">
    $(".passwordhidden").hide();
    $(".showpassword").show();
    $(".showpassword").click(function (e){
        $(this).hide();
        $(".passwordhidden").show();
    });

</script>
[% END %]