/*
BlackPerl is a piece of software designed to help researchers to manage their publications.

Copyright (C) 2014  Maxime CATALDI, Vincent DEMONCHY, Xavier LOCOGE, François de BELLEFON.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either at version 2 of this licence, or (at your option) any other version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/
*/

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #888888;
  min-width: 100%;
  min-height: 100%;
  color: rgb(58,66,148);
}

h1
{
  font-size: 2em;
}

h2
{
  font-size: 1.5em;
}

.container {
  background-color: #ffffff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
  border-radius: 1em;
  position: relative;
  width: 40em;
  height: 45em;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logo
{
  height:250px;
  width:250px;
  margin:auto;
  display:block;
}

#formlogin
{
  padding:10px;
}

.logo2
{
  height:450px;
  margin:auto;
  display:block;
}