/* 
BlackPerl is a piece of software designed to help researchers to manage their publications.

Copyright (C) 2014  Maxime CATALDI, Vincent DEMONCHY, Xavier LOCOGE, François de BELLEFON.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either at version 2 of this licence, or (at your option) any other version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/
*/
html {
  background-color: #888888;
  font-size:100%;
}

body {    
  background-color: #ffffff;
  color: rgb(58,66,148);
  font-family: "bitstream vera sans",verdana,geneva,arial,helvetica,sans-serif;
  font-size: .9em;
  margin: 1em auto;
  padding: 1em 3em;
  width: 80em;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.6);
  border-radius: 1em;
  position: relative;
}

#contenu {
  background-color: #ffffff;
  margin: 0 0 0 0em;
  padding: 1em 1em 0em 11em;
  position: relative;
  min-height: 750px;
}

#content {
  font-size:90%;
}

sup {
  font-size: .5em;
}
legend {
  color: rgb(58,66,148);
}
/*
legend {
  font-weight: medium;
  font-style: italic;
  font-size: .8em;
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  padding: .1em 1em;
  margin: .3em 0;
  border-radius: .5em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

fieldset {
  border: 1px solid rgb(58,66,148);
  border-radius: .5em;
}
*/
.cli_nom {
  font-variant: small-caps;
}

/* === Le bandeau supérieur === */

#bandeau {
  height: 9.72em;
  background-color: #f0f0f8;
}

#bandeau .logo {
  background-color: #ffffff;
  height: 9.72em;
  width: 9.72em;
  float: left;
  margin: 0 1em 0 0;
}

#bandeau h1.titre { 
  margin: 0 1em;
  padding: 0;
  white-space: nowrap;
  font-size: 1.6em;
}

#bandeau h1.appli { 
  font-style: italic;
  text-align: right;
  font-size: 1.2em;
  padding-bottom: .2em;
}

#bandeau .titre {
  text-align: left;
}

/* === Le menu principal === */
#menu {
  position: absolute;
  top: 0;
  left: 0em;
  margin: 0; padding: 0;
  width: 9.72em;
}

#menu h2 {
  font-style: italic;
  font-size: .8em;
  margin: 0;
  padding: .3em .6em;
  color: #ffffff;
  background-color: rgb(58,66,148);
  margin-top: 1em;
  margin-bottom: -1px;
  border-top-left-radius: .75em;
  border-top-right-radius: .75em;
}
#menu ul {
  margin: 0;
  list-style: none;
  font-size: .8em;
  background-color: rgb(58,66,148);
  border-bottom-left-radius: .75em;
  border-bottom-right-radius: .75em;
  padding: 0 0 .75em 0;
  border: 1px solid rgb(58,66,148);
}
#menu li {
  background-color: #e0e0ff;
  margin: 0; padding: 0;
}
#menu a {
  /* margin-bottom: 3px;*/
  font-weight: bold;
  background-color: #e0e0ff;
  color: rgb(58,66,148);
  display: block;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-right: 1.1em;
  padding-left: .3em;
  margin: 0;
  text-decoration: none;
  border-top: 1px solid rgb(58,66,148);
  /* la bordure active */
  border-left: 0em solid #e0e0ff;
  -moz-transition-property: padding, border-width;
  -moz-transition-duration: 100ms;
  transition-duration: 100ms;
}

#menu a:hover {
  color: #ffffff;
  background-color: #ff9940;
  /* la bordure active */
  border-left-color: rgb(58,66,148);
  border-right-color: #ff9940;
  /* border-right-color: rgb(58,66,148); */
  padding-left: .5em;
  padding-right: .3em;
  border-left-width: 1.5em;
}

/* === La signature === */
#signature {
  color: #888888;
  background-color: #ffffff;
  border-top: 1px solid;
  margin-top: 3em;
  font-size: .8em;
  text-align: right;
  margin-bottom: 0;
}

#signature p {
  margin: 0;
}

/* ========= messages (en general) ======= */

.messages {
  margin: .5em 0;
  padding: .5em 1em;
  border-style: solid;
  border-width: 1px;
  font-size: .9em;
}

.messages ul {
  margin: 0 0;
  padding: 0 0 0 1em;
  list-style: square;
}

.messages li { 
  padding: 0;
  margin: 0 0 .2em;
}

.messages pre {
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 48em;
}

/* === messages d'information === */

.information {
  border-color: #006000;
  color: #006000;
  background-color: #f0fff0;
}

/* === messages d'erreur === */
.erreur {
  border-color: #a00000;
  color: #a00000;
  background-color: #fff0f0;
}

/* === messages sql === */
.sql {
  border-color: #ff4700;
  color: #ff4700;
  background-color: #fff9d0;
}

/* === messages trace === */
.trace {
  border-color: #000000;
  color: #000000;
  background-color: #eeeeee;
}


span.erreur {
  font-size: .8em;
  padding: .2em;
  background-color: #ffffff;
}

/* ============ Liste des clients ============= */

.liste {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
  font-size: 1em;
}
/*.liste tr.entete {background-color: rgb(58,66,148); color: #ffffff;}*/
.liste tr.entete th {padding: 0; margin: 0;}
.liste tr.entete th a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: .1em .5em;
}
.liste tr.entete th a:hover {background-color: #ff9940; color: #ffffff;}
.liste tr.entete th.tri {background-color: #ff9940;  color: #ffffff;}
.liste tr.entete th.tri:after { content: "\21D3" }

.liste tr {background-color: #ffffff;}
.liste tr.odd {background-color: #f0f0f8;}

.liste tr td.tri {background-color: #fff9d0;}
.liste tr.odd td.tri {background-color:  #ffd980;}

.liste td, .liste th {padding: .1em .5em;}
.liste td {border: 1px solid;}

/* .liste th {
  border-top-width: 0;
} */

.liste td.actions, .liste th.actions, th.ordre {
  border-width: 0;
  background-color: #ffffff;
  vertical-align: text-top;
  padding: 0 .1em;
  white-space: nowrap;
  width: 0;
  color: #006000;
}

th.ordre {
  text-align: right;
  font-size: .8em;
  font-weight: normal;
  font-style: normal;
  padding: 0 .5em 0 0;
}

td.pager {
  /* border-color: rgb(58,66,148); */
  /* background-color: rgb(58,66,148); */
  /* color: #bbbbbb; */
  border-width: 0px;
  background-color: #ffffff;
  color: #bbbbbb;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  vertical-align: text-top;
}

.pager a {
  text-decoration: none;
  /* color: #ffffff; */
  color: #006000;
  padding: .3em;
}
.pager a:hover {
  background-color: #ff9940;
  color: #ffffff;
}
.pager span {
  padding: .3em;
}

.pagersettings {
  text-align: right;
  font-size: .9em;
  font-style: italic;
  border-bottom: 1px solid orange;
  padding: 0 0 .5em 0;
  margin: 0 0 .5em 0;
}

.pagersettings a { 
  font-style: normal;
}

.button {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: .8em;
  border: 1px outset #e0e0ff;
  background-color: #e0e0ff;
  color: rgb(58,66,148);
  padding: 0 .2em;
  margin: 0;
  border-radius: .3em .3em;
}

.buttoninactif { 
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: .8em;
  border: 1px outset #888888;
  background-color: #eeeeee;
  color: #888888;
  padding: 0 .2em;
  margin: 0;
  border-radius: .3em .3em;
}

.button:visited { 
  background-color: #e0e0ff;
  color: rgb(58,66,148);
}

.button:hover {
  background-color: #ff9940;
  color: #ffffff;
}

.button:active { 
  border: 1px inset;
}

.enligne { display: inline; }

/* Tables de saisie */

th {
  vertical-align: baseline;
  /*text-align: center;*/
  font-style: italic;
}

td.actions {
  text-align: right;
}

.form label {
  font-weight: bold;
  white-space: nowrap;
  font-size: .8em;
  width: 5em;
}

input { 
  font-family: "Verdana", "Geneva", "Arial", "Helvetica", sans-serif;
  font-size: .8em;
}

.form input[type="text"], .form select, .form textarea {
  background-color: #f0fff0;
  border: 1px inset rgb(58,66,148);
  padding: .1em .2em;
  width: 20em;
}

#cli_adresse {
  width: 40em;
  height: 8em;
}

/* Tables d'affichage d'un client */

table.client {
  width: 100%;
}

table.client th {
  text-align: right;
}

table.client th, table.client td {
  vertical-align: middle;
  padding: .2em .1em;
}

.statusSelected
{
  font-style: italic;
  color:#e64f06;
}
